<div class="sidebar">


  <div class="cajaGris">


    <span>Otros Costos</span>

    <span class="letras">version</span>

    <div class="version">

      Version

    </div>

  </div>



    <div class="boxSidebar">

      <div class="iconos">

        <ul>
          <li><a routerLink="/login" routerLinkActive="router-link-active">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon></a></li>
          <li><a routerLink="routePath" routerLinkActive="router-link-active">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="download"></mat-icon>
          </a></li>
          <li><a routerLink="routePath" routerLinkActive="router-link-active">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="security"></mat-icon>
          </a></li>
        </ul>


      </div>


    </div>
    <div class="siderfooter">
      <ul>
        <li><a routerLink="/login" routerLinkActive="router-link-active"><mat-icon>power_settings_new</mat-icon></a></li>
        <br>
        <br>
      </ul>


  </div>
</div>
