
<app-header />

<main class="pages">
  <form class="form" [formGroup]="homeForm">
  
    <mat-form-field appearance="outline">
      <mat-label>Campo</mat-label>
      <input matInput formControlName="name" >
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Campo</mat-label>
      <input matInput formControlName="name" >
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Campo</mat-label>
      <input matInput formControlName="name" >
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Campo</mat-label>
      <input matInput formControlName="name" >
    </mat-form-field>

  </form>
</main>
